body {
    background-color: #ddd;
    color: #444;
    font-family: "Helvetica Neue";
    line-height: 1.5;
    
}
@media (max-width: 600px){
    body{
        width: 95%;
    }
}
.logo{
    color: rgb(11, 11, 11);
    text-decoration: none;
    padding: 0 3rem;
    font-size: 4rem;
}
header {
    border: grey;
    text-align: center;
    display: block;
}
footer {
    background-color: #d3c9c9d5;
    color: #000000;
    border: grey;
    text-align: center;
  }
  
nav {
    background-color: #37702c;
    color: #ffffff;
    border: rgb(177, 177, 177);
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    border: 1px black;
}

nav a {
    color: rgb(207, 207, 207);
    text-decoration: none;
    padding: 0 3rem;
}
.textQuestions{
    padding-top: 10px;
    display: flex;
}
.textQuestions li{
    padding: 1px;
}


.text-fluid{
    font-size: larger;
    font-weight: bold;
}



h2 {
    color: #555;
}

main {
    background-color: white;
    margin: 20px 30px;
    padding: 20px 30px;
    width: 80%;
    margin: 0 auto;

}

section {
    border-top: 2px gray solid;
}

h1,
h2 {
    color: rgb(136, 136, 136);
    margin-top: 0px;

}
p{
    float: right
}
.item{
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 2rem;
    background-color: #f8f8f8;
}
.login {
    padding: 10%;
    padding-left: 40%;
}
.home {
    color: #37702c;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/login.jpg') center / cover no-repeat;
}

.login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.main-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}